<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Constants" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Languages" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Files" type="System.Configuration.SingleTagSectionHandler" />
		<section name="Directories" type="System.Configuration.SingleTagSectionHandler" />
	</configSections>
	<Constants WinbuildsRoot="\\winbuilds\release\main" 
	OEMRoot="\\astfiles\dfs\whistler\usa\3590\x86fre\ads\i386\$OEM$" 
	Verfile="\setup.exe" 
	SMFilesRootPath="\\astfiles\net" 
	SMLogDir="\\astfiles\Net\log" 
	SMLogFile="\CopyWin.log" />
	<Languages 
	Lang1="\br" 
	Lang2="\cs" 
	Lang3="\da" 
	Lang4="\el" 
	Lang5="\fr" 
	Lang6="\ger" 
	Lang7="\jpn" 
	Lang8="\kor" 
	Lang9="\mir" 
	Lang10="\psu" 
	Lang11="\usa" />
	<Files IDWFile="\latest_IDW.bat" 
	TestFile="\latest_Test.bat" 
	IDSFile="\latest_IDS.bat" />
	<Directories IDWDir="\latest.IDW" 
	TestDir="\latest.TST" 
	IDSDir="\latest.IDS" />
</configuration>
